#example>thead>tr>th{
    color: white;
    border:1px solid #eaeaea;
}
#example{
    border-collapse: collapse;
}
#example>tbody>tr>td{
    color: black;
    border:1px solid #eaeaea;
}
#example>tbody>tr>td{
    color: black;

}
/*#eaeaea*/
/*#593bdb*/
#example tr.selected {
    color: #593bdb!important;
}

#example tr.selected {
    color: #593bdb!important;
}
#example tr.selected:active {
    color: #593bdb!important;
}
#example tr.selected:hover {
    color: #593bdb!important;
}
#example tr.selected:before {
    color: #593bdb!important;
}
#example tr.selected:after {
    color: #593bdb!important;
}

#example tr.selected:focus {
    color: #593bdb!important;
}
label{
    color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0.5em 0!important;
}

.select2-container--default .select2-results__option[role=group]{
    color:#000;
}
.select2-results__option{
    color:#000;
}
select{
    color: black;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: black;
}
